*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ribbon {
    background-color: #333; /* change to your preferred color */
    color: #fff; /* change to your preferred color */
    padding: 10px 0;
    text-align: center;
}

.ribbon h1 {
    margin: 0;
    font-size: 1.5em; /* adjust size as needed */
}

body{
    font-family: 'Outfit';
    background: linear-gradient( #d1bdf6, #d9f4f9);
}

h2{
    font-size: 30px;
    color: rgb(22, 16, 45);
    font-weight: 600;
    margin-bottom: 5px;
    text-align: center;
}
.contact-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 90vh;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 50px;
}

.contact-left-title h2{
    font-size: 30px;
    color: rgb(22, 16, 45);
    font-weight: 600;
    margin-bottom: 5px;
}
.contact-left-title hr{
    height: 5px;
    background-color: #232323;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
}

.num-inputs{
    width: 300px;
    height: 35px;
    border:none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #232323;
    border-radius: 50px;
    display: inline-block;
}

.bool-input{
    width: 50px;
    height: 50px;
    border:none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    font-size: 50px;
    color: #232323;
    border-radius: 50px;
    display: inline-block;
}

.button-input{
    width: 100px;
    height: 35px;
    border:none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #232323;
    border-radius: 50px;
    background-color: #232323;
    color: white;
    cursor: pointer;
}

#myChart {
    height: 100%;
    width: 100%;
    min-height: 150px;
  }
   
  .zc-ref {
    display: none;
  }